body,
.bg {
    background-color: #DDF2FD !important;
}

.stat {
    padding: 10px;
    background-color: #9BBEC8;
    width: 20%;
    border-radius: 8px;
    text-align: center;
}

.myBtn {
    border: none;
    background-color: #FFFDF9;
    color: black;
}

.myBtn-white {
    border: none;
    background-color: white;
    color: black;
}

.myBtn-icon {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #FFFDF9;
    border-radius: 100%;
    color: black;
}

.myBtn:hover {
    background-color: rgb(232, 232, 232);
    color: black;
}

.zoom,
.zoom-more {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.02);
}

.navLink {
    padding-left: 2px;
    border-radius: 10px;
    margin: 0px 2px;
}

.navLink:hover,
.navLink-icon:hover {
    background-color: #266B90;
}

.navLink-icon {
    padding-left: 1px;
    width: 40px;
    border-radius: 100%;
}

.loader {
    margin: auto;
    margin-top: 38vh;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}